.navbars a{
    display: block;
    text-decoration: none;
    padding:5px 10px;
    margin-left: 20px;
    font-size: 22px;
    color: #8f8e03;
}
.navbars a:hover{
    background-color: #8f8e03;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}